<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cek Saldo</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar">
      <ul class="nav-links">
          <li><a href="#">Aufa</a></li>
          <li><a href="#">Astria</a></li>
          <li><a href="#">Daffa</a></li>
          <li><a href="#">Sari</a></li>
          <li><a href="#">yoga</a></li>
          <div class="user-info">
            <p>{{akun1}}</p>
            <p>{{rek1}}</p>
          </div>
      </ul>
      
    </nav>
    

    <div class="saldo">
      <h1>Cek Saldo</h1>
      <div class="bungkus">
        <p>Saldo yang anda miliki saat ini: Rp.{{ saldo }}</p>
      </div>
    </div>

    <a href="{{ url_for('menu') }}" class="ceksaldo">Kembali ke Menu</a>

    <!-- Footer -->
  <footer class="footer">
    <p>alpro_project</p>
    <p>safary_project</p>
</footer>
  </body>
</html>
